
/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-
=-=-=- SPLASH IMAGES -=-=-=
-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
	#splash-image-02 {
		background-image: url('../img/future-of-construction-splash-image-02.jpg');
	}

	#splash-image-03 {
		background-image: url('../img/future-of-construction-splash-image-03.jpg');
	}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
=-=-=- KEYNOTE PROFILE IMAGES -=-=-=
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

	#karla-saldana 		{background-image: url('../img/speaker-photos/Karla_Saldana.jpg');}
	#jeannette-kuo 		{background-image: url('../img/speaker-photos/Jeannette_Kuo.jpg');}
	#thomas-wortmann 	{background-image: url('../img/speaker-photos/Thomas_Wortmann.jpg');}
	#marco-hutter 		{background-image: url('../img/speaker-photos/Marco_Hutter.jpg');}
	#stefana-parascho 	{background-image: url('../img/speaker-photos/Stefana_Parascho.jpg');}
	#sami-haddadin 		{background-image: url('../img/speaker-photos/Sami_Haddadin.jpg');}
	#harald-kloft 		{background-image: url('../img/speaker-photos/Harald_Kloft.jpg');}
	#corentin-fivet 	{background-image: url('../img/speaker-photos/Corentin_Fivet.jpg');}
	#charlotte-malterre {background-image: url('../img/speaker-photos/Charlotte_Malterre.jpg');}
	#daniel-hall 		{background-image: url('../img/speaker-photos/Daniel_Hall.jpg');}
	#marija-maric 		{background-image: url('../img/speaker-photos/Marija_Maric.jpg');}
	#michael-buhler 	{background-image: url('../img/speaker-photos/Michael_Buehler.jpg');}
	#mariana-popescu 	{background-image: url('../img/speaker-photos/Mariana_Popescu.jpg');}
	#thomas-auer 		{background-image: url('../img/speaker-photos/Thomas_Auer.jpg');}
	#brandon-clifford 	{background-image: url('../img/speaker-photos/Brandon_Clifford.jpg');}
	#kendra-byrne 		{background-image: url('../img/speaker-photos/Kendra_Byrne.jpg');}
	#siyu-tang 			{background-image: url('../img/speaker-photos/Siyu_Tang.jpg');}
	#angela-schoellig 	{background-image: url('../img/speaker-photos/Angela_Schoellig.jpg');}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=- INDUSTRY INSIGHTS PROFILE IMAGES =-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

	#ryan-luke-johns	{background-image: url('../img/speaker-photos/Ryan_Luke_Johns.jpg');}
	#romana-rust		{background-image: url('../img/speaker-photos/Romana_Rust.jpg');}
	#maximilian-vomhof	{background-image: url('../img/speaker-photos/Maximilian_Vomhof.jpg');}
	#franziska-sauka	{background-image: url('../img/speaker-photos/Franziska_Sauka.jpg');}
	#bruno-knychalla	{background-image: url('../img/speaker-photos/Bruno_Knychalla.jpg');}
	#francesco-ranaudo	{background-image: url('../img/speaker-photos/Francesco_Ranaudo.jpg');}
	#artem-kuchukov		{background-image: url('../img/speaker-photos/Artem_Kuchukov.jpg');}
	#ana-anton			{background-image: url('../img/speaker-photos/Ana_Anton.jpg');}
	#thomas-reisinger	{background-image: url('../img/speaker-photos/');}
	#julian-trummer		{background-image: url('../img/speaker-photos/Julian_Trummer.jpg');}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
=-=-=- VENUE & TRAVEL PROFILE IMAGES -=-=-=
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

	#munich-urban-colab	{background-image: url('../img/future-of-construction-venue-image-01.jpg');}
	#tum				{background-image: url('../img/future-of-construction-venue-image-02.jpg');}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=- ORGANIZER PROFILE IMAGES =-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

	#kathrin-dorfler		{background-image: url('../img/organizers-photos/Kathrin_Doerfler.jpg');}
	#pierluigi-dacunto		{background-image: url('../img/organizers-photos/Pierluigi_Dacunto.jpg');}
	#konrad-nubel			{background-image: url('../img/organizers-photos/Konrad_Nuebel.jpg');}
	#christos-chantzaras	{background-image: url('../img/organizers-photos/Christos_Chantzaras.jpg');}
	#michael-buhler			{background-image: url('../img/organizers-photos/Michael_Buehler.jpg');}
	#danielle-griego		{background-image: url('../img/organizers-photos/Danielle_Griego.jpg');}
	#norman-hack			{background-image: url('../img/organizers-photos/Norman_Hack.jpg');}
	#stefana-parascho		{background-image: url('../img/organizers-photos/Stefana_Parascho.jpg');}
	#thomas-wortmann		{background-image: url('../img/organizers-photos/Thomas_Wortmann.jpg');}
	#ena-lloret-fritschi	{background-image: url('../img/organizers-photos/Ena_Lloret_Fritschi.jpg');}
	#lidia-atanasova		{background-image: url('../img/organizers-photos/Lidia_Atanasova.jpg');}
	#frederic-chovghi		{background-image: url('../img/organizers-photos/Frederic_Chovghi.jpg');}
	#marcel-schlicke		{background-image: url('../img/organizers-photos/Marcel\ Schlicke.jpg');}
	#selen-ercan			{background-image: url('../img/organizers-photos/Selen_Ercan.jpg');}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=- FOOTER LOGO IMAGES =-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

	footer div:nth-child(1) {width: 11.11%;}
	footer div:nth-child(2) {width: 13.11%;}
	footer div:nth-child(3) {width: 11.11%;}
	footer div:nth-child(4) {width: 9.11%;}
	footer div:nth-child(5) {width: 12.11%;}
	footer div:nth-child(6) {width: 10.11%;}
	footer div:nth-child(7) {width: 11.11%;}
	footer div:nth-child(8) {width: 11.11%;}
	footer div:nth-child(9) {width: 11.11%;}

		.logo-frame {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		#tum-logo {
			background-image: url('../img/logos/TUM_Logo_weiss_rgb_p.png');
			background-size: 50%;
			background-position: 40% center;
		}

		#venture-labs-logo {
			background-image: url('../img/logos/VentureLab_Logo_weiss.png');
			background-size: 60%;
			background-position: 25% center;
		}

		#ias-logo {
			background-image: url('../img/logos/IAS_Logo_weiss_rgb_p.png');
			background-size: 80%;
			background-position: 75% center;
		}

		#eth-logo {
			background-image: url('../img/logos/ETH_Logo_weiss_rgb_p.png');
			background-size: 30%;
			background-position: right center;
		}

		#usi-logo {
			background-image: url('../img/logos/USI_Logo_weiss_rgb_p.png');
			background-size: 20%;
			background-position: 70% center;
		}

		#tubs-logo {
			background-image: url('../img/logos/TUBS_weiss.png');
			background-size: 40%;
			background-position: 65% center;
		}

		#epfl-logo {
			background-image: url('../img/logos/epfl.png');
			background-size: 40%;
		}

		#htwg-konstanz-logo {
			background-image: url('../img/logos/HTWG_konstanz_weiss.png');
			background-size: 100%;
		}

		#uni-stuttgart-logo {
			background-image: url('../img/logos/UniStuttgart_logo_rgb.png');
			background-size: 80%;
		}

		footer div a img {
			width: 100%;
			height: 100%;
		}

			footer div a img {
				width: 100%;
				opacity: 0;
			}