/*
-=-=-=-=-=-=-=-=-=-=-=-=-
=-=-=- RESPONSIVE =-=-=-=
-=-=-=-=-=-=-=-=-=-=-=-=-
*/


/* -=-=-=-=-=-=-=-=-=-=-
-=-=-= DESKTOP MONITOR -=-=-=
=-=-=-=-=-=-=-=-=-=-= */

@media screen and (min-width: 1919px) {

h2,h3 {
		padding: 0.5em 1em;
		font-size: 24pt;
		width: 38.4vw;
		right: 8.5vw;
	}

		h2 {
			bottom: 22.5vh;
		}

		h3 {
			bottom: 10vh;
		}

}

/* -=-=-=-=-=-=-=-=-=-=-
-=-=-= MEDIUM LAPTOP -=-=-=
=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1643px) {

	h2,h3 {
		font-size: 18pt;
		width: 40vw;
		right: 6.5vw;
	}

		h2 {
			bottom: 24.2vh;
		}

		h3 {
			bottom: 12vh;
		}
}

/* -=-=-=-=-=-=-=-=-=-=-
-=-=-= SMALL LAPTOP -=-=-=
=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1366px) {

	h2,h3 {
		font-size: 16pt;
		width: 38.9vw;
		right: 6.5vw;
	}

		h2 {
			bottom: 25.2vh;
		}

		h3 {
			bottom: 13.8vh;
		}

	section {
		margin: 2em;
		padding: 2em;
		width: 80vw;
		font-size: 14pt;
	}

		/*section p:first-child {
			font-size: 18pt;
		}*/

	/*footer img {
		padding: 2.5vw;
	}*/

}

/* -=-=-=-=-=-=-=-=-=-=-
-=-=-= LARGE TABLET -=-=-=
=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1195px) {

	h2,h3 {
		width: 45.4vw;
		right: 4.6vw;
	}

	#splash-image-01 {
		background-attachment: initial;
	}

}

/* -=-=-=-=-=-=-=-=-=-=-
-=-=-= MEDIUM TABLET -=-=-=
=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1025px) {

	h2,h3 {
		width: 54vw;
			right: 4vw;
	}

		h2 {
			bottom: 20vh;
			padding: 0.5em 1em;
		}

		h3 {
			bottom: 8vh;
			padding: 1em 1em;
		}

	section:first-child {
		margin-top: 25vh;
	}

	#academic-keynotes ul li figure,
	#industry-insights ul li figure {
		margin: 1em 0.3em;
	}

	#workshops ol li,
	#site-visits-and-tours ul li {
		width: 44%;
		padding: 4% 2%;
	}

	#venue-and-travel h5 {
		margin-top: 1em;
	}

	/*footer img {
		padding: 2.5vw;
	}*/

	figure#arrows-row-one svg:nth-child(9),figure#arrows-row-one svg:nth-child(10),figure#arrows-row-one svg:nth-child(11),figure#arrows-row-one svg:nth-child(12),figure#arrows-row-one svg:nth-child(13),figure#arrows-row-one svg:nth-child(14),figure#arrows-row-one svg:nth-child(15),figure#arrows-row-one svg:nth-child(16),
figure#arrows-row-two svg:nth-child(9),figure#arrows-row-two svg:nth-child(10),figure#arrows-row-two svg:nth-child(11),figure#arrows-row-two svg:nth-child(12),figure#arrows-row-two svg:nth-child(13),figure#arrows-row-two svg:nth-child(14),figure#arrows-row-two svg:nth-child(15),figure#arrows-row-two svg:nth-child(16),
figure#arrows-row-three svg:nth-child(9),figure#arrows-row-three svg:nth-child(10),figure#arrows-row-three svg:nth-child(11),figure#arrows-row-three svg:nth-child(12),figure#arrows-row-three svg:nth-child(13),figure#arrows-row-three svg:nth-child(14),figure#arrows-row-three svg:nth-child(15),figure#arrows-row-three svg:nth-child(16),
figure#arrows-row-four svg:nth-child(9),figure#arrows-row-four svg:nth-child(10),figure#arrows-row-four svg:nth-child(11),figure#arrows-row-four svg:nth-child(12),figure#arrows-row-four svg:nth-child(13),figure#arrows-row-four svg:nth-child(14),figure#arrows-row-four svg:nth-child(15),figure#arrows-row-four svg:nth-child(16),
figure#arrows-row-five svg:nth-child(1),figure#arrows-row-five svg:nth-child(2),figure#arrows-row-five svg:nth-child(3),figure#arrows-row-five svg:nth-child(4),figure#arrows-row-five svg:nth-child(13),figure#arrows-row-five svg:nth-child(14),figure#arrows-row-five svg:nth-child(15),figure#arrows-row-five svg:nth-child(16),
figure#arrows-row-seven svg:nth-child(9),figure#arrows-row-seven svg:nth-child(10),figure#arrows-row-seven svg:nth-child(11),figure#arrows-row-seven svg:nth-child(12),figure#arrows-row-seven svg:nth-child(13),figure#arrows-row-seven svg:nth-child(14),figure#arrows-row-seven svg:nth-child(15),figure#arrows-row-seven svg:nth-child(16),
figure#arrows-row-eight svg:nth-child(9),figure#arrows-row-eight svg:nth-child(10),figure#arrows-row-eight svg:nth-child(11),figure#arrows-row-eight svg:nth-child(12),figure#arrows-row-eight svg:nth-child(13),figure#arrows-row-eight svg:nth-child(14),figure#arrows-row-eight svg:nth-child(15),figure#arrows-row-eight svg:nth-child(16),
figure#arrows-row-nine svg:nth-child(9),figure#arrows-row-nine svg:nth-child(10),figure#arrows-row-nine svg:nth-child(11),figure#arrows-row-nine svg:nth-child(12),figure#arrows-row-nine svg:nth-child(13),figure#arrows-row-nine svg:nth-child(14),figure#arrows-row-nine svg:nth-child(15),figure#arrows-row-nine svg:nth-child(16),
figure#arrows-row-ten svg:nth-child(9),figure#arrows-row-ten svg:nth-child(10),figure#arrows-row-ten svg:nth-child(11),figure#arrows-row-ten svg:nth-child(12),figure#arrows-row-ten svg:nth-child(13),figure#arrows-row-ten svg:nth-child(14),figure#arrows-row-ten svg:nth-child(15),figure#arrows-row-ten svg:nth-child(16) {
	display: none;
}

figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
	margin-top: 3vh;
}

figure#arrows-row-seven svg:nth-child(1),figure#arrows-row-seven svg:nth-child(2),figure#arrows-row-seven svg:nth-child(3),figure#arrows-row-seven svg:nth-child(4),figure#arrows-row-seven svg:nth-child(5),figure#arrows-row-seven svg:nth-child(6),figure#arrows-row-seven svg:nth-child(7),figure#arrows-row-seven svg:nth-child(8) {
	width: 0;
}

div#arrows-background {
	top: -11.11vh;
	height: 111.1111vh;
}

	div#arrows-background figure {
		height: 11.111111111111111vh;
	}

		div#arrows-background figure svg {
			margin: 0 0 0 2vw;
			width: 9.2vw;
			stroke-width: 7.5;
			stroke-miterlimit: 7.5;
		}
	
}

@media screen and (max-width: 1025px) and (max-height: 1367px) {

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		margin-top: 4vh;
	}

	h2,h3 {
		width: 54vw;
		right: 4vw;
			padding: 1em 1em;
	}

		h2 {
			bottom: 24.2vh;
		}

		h3 {
			bottom: 12.8vh;
		}

}

@media screen and (max-width: 1025px) and (max-height: 769px) {

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		transform: translateY(-4.8vh);
	}

	h2,h3 {
		width: 54vw;
		right: 4vw;
			padding: 0.5em 1em;
	}

		h2 {
			bottom: 20vh;
		}

		h3 {
			bottom: 8vh;
		}

}

@media screen and (max-width: 1025px) and (max-height: 736px) {

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		transform: translateY(0vh);
	}

}

/* -=-=-=-=-=-=-=-=-=-=-=-
-=-=-= LARGE MOBILE -=-=-=
=-=-=-=-=-=-=-=-=-=-=-=- */

@media screen and (max-width: 834px) {

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		margin-top: 4vh;
	}

}

/* -=-=-=-=-=-=-=-=-=-=-=-
-=-=-= LARGE MOBILE -=-=-=
=-=-=-=-=-=-=-=-=-=-=-=- */

@media screen and (max-width: 768px) {

	h2,h3 {
		width: 75vw;
		margin-left: 10vw;
		padding: 0.5em 1em;
	}

		h2 {
			bottom: 24.5vh;
		}

		h3 {
			bottom: 13vh;
		}

	section {
		margin: 2% 2% 4% 2%;
		padding: 2%;
		width: 88vw;
		column-count: 1;
	}

	details > summary::before {
		content: url('../img/arrow-white-38px-0deg.png');
		
	}

		details:hover > summary::before {
			content: url('../img/arrow-blue-38px-0deg.png');
		}

	details[open] > summary::before {
		content: url('../img/arrow-white-38px-270deg.png');
		
	}

		details[open]:hover > summary::before {
			content: url('../img/arrow-blue-38px-270deg.png');
		}

	h4,
	#venue-and-travel h5,
	#organizers h5 {
		font-size: 7vw;
	}

		#supporting-institutions h4 {
			font-size: 6vw;
		}

		/*section p:first-child {
			font-size: 24pt;
		}*/

	footer li:nth-child(1),footer li:nth-child(2),footer li:nth-child(3),footer li:nth-child(4),footer li:nth-child(5),footer li:nth-child(6),footer li:nth-child(7),footer li:nth-child(8),footer li:nth-child(9) {
		width: 90%;
		height: 10vw;
		margin: 4% 0;
	}

	#tum-logo, #venture-labs-logo, #ias-logo, #eth-logo, #usi-logo, #tubs-logo {
		background-position: center center;
	}

	h6 {
		text-align: center;
		font-size: 1.4em;
		padding: 10vw;
	}

			h6:last-child {
				border-top: 0.5vw solid #fff;
			}

	/*footer img {
		height: 10vw;
	}

		footer a:nth-child(1) img,footer a:nth-child(2) img {
			margin-top: 5vw;
			padding: 3.5vw;
		}

		footer a:nth-child(3) img,footer a:nth-child(4) img {
			margin-bottom: 5vw;
			padding: 6vw;
		}*/

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		margin-top: 4vh;
	}

}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=- SMALL MOBILE =-=-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

@media screen and (max-width: 414px) {

	h2,h3 {
		width: 60vw;
		padding: 1em;
	}

		h2 {
			top: 100vh;
			bottom: initial;
		}

		h3 {
			top: 128vh;
			bottom: initial;
		}

	section {
		top: 30vh;
		padding: 5%;
		width: 84%;
		column-count: 1;
	}

	details > summary::before {
		content: url('../img/arrow-white-26px-0deg.png');
		padding-left: 0.5em;
	}

		details:hover > summary::before {
			content: url('../img/arrow-blue-26px-0deg.png');
		}

	details[open] > summary::before {
		content: url('../img/arrow-white-26px-270deg.png');
		padding-left: 0.5em;
	}

		details[open]:hover > summary::before {
			content: url('../img/arrow-blue-26px-270deg.png');
		}

	section p {
		font-size: 18pt;
		padding-right: 10%;
	}

	#academic-keynotes ul li,
	#industry-insights ul li {
		padding: 0;
	}

		#academic-keynotes ul li figure,
		#industry-insights ul li figure {
			width: 60vw;
			height: 60vw;
			margin: 1em;
		}

	#workshops ol li,
	#site-visits-and-tours ul li {
		width: 90%;
		padding: 0 10% 0 0;
		margin-top: 2em;
	}

	#sponsors ul li {
		width: 20%;
		margin: 3%;
		padding: 3%;
	}

	#supporting-institutions ul li {
		width: 50%;
		margin: 3%;
		padding: 3%;
	}

	#venue-and-travel figure {
		width: 100%;
		height: 60vw;
		background-size: cover;
		background-position: center center;
		margin: 2% 0;
	}

		#venue-and-travel figure:first-of-type {
			margin-right: 0;
		}

			#venue-and-travel h5 {
				top: 72pt;
			}

	#organizers ul li {
		width: 100%;
	}

	#organizers ul li figure {
		margin: 1em auto;
		width: 60vw;
		height: 60vw;
	}

	section#splash-images {
		height: 50vh;
		margin-bottom: 38vh;
	}

	#splash-image-01 {
		height: 50vh;
		margin-bottom: 38vh;
	}

		/*section p:first-child {
			font-size: 14pt;
		}*/

	/*footer {
		text-align: center;
	}

		footer img {
			height: 12vw;
		}

			footer a:first-child img {
				margin-top: 10vw;
			}

			footer a:last-child img {
				margin-bottom: 10vw;
			}*/

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		margin-top: 5.5vh;
	}

}

@media screen and (max-width: 414px) and (max-height: 569px) {

		h2 {
			top: 100vh;
		}

		h3 {
			top: 145vh;
		}

	section {
		top: 50vh;
	}

}

@media screen and (max-width: 737px) and (max-height: 415px) {

	figure#arrows-row-six svg:nth-child(9),figure#arrows-row-six svg:nth-child(10),figure#arrows-row-six svg:nth-child(11),figure#arrows-row-six svg:nth-child(12),figure#arrows-row-six svg:nth-child(13),figure#arrows-row-six svg:nth-child(14),figure#arrows-row-six svg:nth-child(15),figure#arrows-row-six svg:nth-child(16) {
		transform: translateY(-11vh);
	}

	h2,h3 {
		width: 66vw;
			right: 2vw;
			padding: 0.5em 1em;
	}

		h2 {
			bottom: -30vh;
		}

		h3 {
			bottom: -52vh;
		}

	section {
		top: 50vh;
	}

}

@media screen and (max-width: 320px) {


	section#splash-images {
		margin-bottom: 58vh;
	}

	#splash-image-01 {
		margin-bottom: 58vh;
	}

}